.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 872px;
}

.u-section-1 .u-shape-1 {
  width: 718px;
  height: 764px;
  margin: 66px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 830px;
  margin: -808px 74px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 613px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0 60px;
}

.u-section-1 .u-image-1 {
  width: 818px;
  height: 599px;
  object-position: 50% 0%;
  margin: 114px -61px -180px auto;
}

.u-section-1 .u-group-1 {
  width: 327px;
  min-height: 220px;
  margin: -297px auto 60px -18px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Antic Didone";
  font-size: 2.25rem;
  margin: 22px -30px 0 -18px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Antic Didone";
  font-size: 1.875rem;
  margin: 19px -30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    height: 738px;
    margin-top: 54px;
    margin-left: 82px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 886px;
    min-height: 583px;
    margin-top: -666px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 800px;
    margin-top: -3px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-shape-1 {
    width: 654px;
    height: 680px;
    margin-top: 57px;
    margin-left: 192px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 681px;
    margin-top: -565px;
    margin-right: 210px;
    margin-left: auto;
    min-height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 527px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-shape-1 {
    height: 623px;
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 446px;
    min-height: 892px;
    margin-top: -808px;
    margin-right: auto;
    margin-left: 347px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 395px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -96px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-shape-1 {
    height: 461px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 290px;
    min-height: 611px;
    margin-left: 425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 249px;
  }

  .u-section-1 .u-group-1 {
    width: 327px;
    margin-top: -108px;
    margin-left: 400px;
  }
}