.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 185px 39px 0 840px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 38px 39px 0 406px;
}

.u-section-1 .u-image-1 {
  height: 727px;
  width: 802px;
  margin: -234px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 30px 406px 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 201px;
    margin-left: 778px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 100px;
    margin-left: 344px;
  }

  .u-section-1 .u-image-1 {
    height: 717px;
    width: 940px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 306px;
    margin-right: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 311px;
    margin-left: 668px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 210px;
    margin-left: 234px;
  }

  .u-section-1 .u-image-1 {
    height: 549px;
    width: 720px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 196px;
    margin-right: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 401px;
    margin-left: 578px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-1 {
    height: 412px;
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 106px;
    margin-right: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 501px;
    margin-left: 478px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 259px;
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}